<% include ./../../../helpers/selectbox %>
<% include ./../../../helpers/input %>
<% include ./../../../helpers/image %>
<% include ./../../../helpers/textarea %>
<% include ./../../../helpers/formBody %>
<% 
	const controllerName = 'article';
	const linkPrefix = systemConfig.prefixAdmin + `/store/${controllerName}/`;
	const folder = 'uploads/article/';
	let elementsForm = [
		{ for: 'name', label: 'Name', input: inputHelper('name', item.name ) },
		{ for: 'thumb', label: 'Thumb', input: inputHelper('thumb', item.thumb,{},'thumb' ) },
		{ for: 'imgavatar', label: 'imgAvatar', input: imageHelper(folder, item.thumb) },
		{ for: 'ordering', label: 'Ordering', input: inputHelper('ordering', item.ordering ) },
		{ for: 'prices', label: 'Prices', input: inputHelper('prices', item.prices ) },
		{ for: 'status', label: 'Status', input: selectboxHelper('status', systemConfig.status_value, item.status) },
		{ for: 'special', label: 'Special', input: selectboxHelper('special', systemConfig.special_value, item.special) },
		{ for: 'category_id', label: 'CategoryName', input: selectboxHelper('category_id', categoryItems, item.category_id) },
		{ for: 'content', label: 'Content', input:  textareaHelper('content', item.content ) },
	];

	let xhtmlForm = formBodyHelper(elementsForm);
%>
<% include ./../../../elements/errors %>
<div class="card card-info card-outline">
	<form action="<%= linkPrefix %>save/" method="POST" class="mb-0" enctype="multipart/form-data" name="form-upload">
		<div class="card-body">
			<%- xhtmlForm %>
		</div>
		<div class="card-footer">
			<div class="col-12 col-sm-8 offset-sm-2">
				<input class="form-control" name="id" value="<%= item.id %>" type="hidden" >
				<input name="image_old" value="<%= item.thumb %>" type="hidden" >
				<input class="form-control" name="category_name" type="hidden" value="<%= item.category_name %>"/>
				<button type="submit" class="btn btn-sm btn-success mr-1"> Submit</button>
				<a href="<%= linkPrefix %>" class="btn btn-sm btn-danger mr-1"> Cancel</a>
			</div>
		</div>
	</form>
</div>
<script>
	CKEDITOR.replace( 'content' );
</script>