<% include ./../../helpers/format-date %>
<% include ./../../helpers/format-summary %>
<% const folder_uploads = 'uploads/article/'; %>

<!-- Whats New Start -->
<section class="whats-news-area pt-50 pb-20">
    <div class="container">
        <div class="row">
        <div class="col-lg-8">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-3 col-md-3">
                    <div class="section-tittle mb-30">
                        <h3>Tin tức</h3>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="properties__button">
                        <!--Nav Button  --> 
                        <nav>                                                                     
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All</a>
                                <% itemsCategory.forEach( (item) => { %>
                                    <a class="nav-item nav-link" onClick="loadData('<%= item.slug %>','/tin-tuc/<%= item.slug %>/json')" data-url="/tin-tuc/<%= item.slug %>/json" data-toggle="tab" href="#<%= item.slug %>" role="tab" aria-controls="<%= item.slug %>" aria-selected="false"><%= item.name %></a>
                                <% }) %>
                            </div>
                        </nav>
                        <!--End Nav Button  -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Nav Card -->
                    <div class="tab-content" id="nav-tabContent">
                        <!-- card one -->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">           
                            <div class="whats-news-caption">
                                <div class="row">
                                    <% for(i = 2; i < itemsRandom.length ; i++) { %>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="single-what-news mb-100">
                                                <div class="what-img">
                                                    <img src="<%= folder_uploads + itemsRandom[i].thumb %>" alt="" class="img_itemsRandom_home">
                                                </div>
                                                <div class="what-cap">
                                                    <span class="color1">
                                                        <a href="/tin-tuc/<%= itemsRandom[i].category.slug %>" >
                                                            <%= itemsRandom[i].category.name %>
                                                        </a>
                                                    </span>
                                                    <h4><a href="/tin-tuc/<%= itemsRandom[i].slug %>-a" ><%= itemsRandom[i].name %></a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <!-- Card two -->
                        <% itemsCategory.forEach( (item) => { %>
                            <div class="tab-pane fade" id="<%= item.slug %>" role="tabpanel" aria-labelledby="<%= item.id %>">
                                <div class="whats-news-caption" >
                                    <div class="row" id="data-<%= item.slug %>">
                                            
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                <!-- End Nav Card -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Section Tittle -->
            <div class="section-tittle mb-40">
                <h3>Follow Us</h3>
            </div>
            <!-- Flow Socail -->
            <div class="single-follow mb-45">
                <div class="single-box">
                    <div class="follow-us d-flex align-items-center">
                        <div class="follow-social">
                            <a href="#"><img src="frontend/img/news/icon-fb.png" alt=""></a>
                        </div>
                        <div class="follow-count">  
                            <span>8,045</span>
                            <p>Fans</p>
                        </div>
                    </div> 
                    <div class="follow-us d-flex align-items-center">
                        <div class="follow-social">
                            <a href="#"><img src="frontend/img/news/icon-tw.png" alt=""></a>
                        </div>
                        <div class="follow-count">
                            <span>8,045</span>
                            <p>Fans</p>
                        </div>
                    </div>
                        <div class="follow-us d-flex align-items-center">
                        <div class="follow-social">
                            <a href="#"><img src="frontend/img/news/icon-ins.png" alt=""></a>
                        </div>
                        <div class="follow-count">
                            <span>8,045</span>
                            <p>Fans</p>
                        </div>
                    </div>
                    <div class="follow-us d-flex align-items-center">
                        <div class="follow-social">
                            <a href="#"><img src="frontend/img/news/icon-yo.png" alt=""></a>
                        </div>
                        <div class="follow-count">
                            <span>8,045</span>
                            <p>Fans</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- New Poster -->
            <div class="news-poster d-none d-lg-block">
                <img src="frontend/img/news/news_card.jpg" alt="">
            </div>
        </div>
        </div>
    </div>
</section>
<!-- Whats New End -->
<div class="weekly2-news-area  weekly2-pading gray-bg">
    <div class="container">
        <div class="weekly2-wrapper">
            <!-- section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle mb-30">
                        <h3>Tin tức mới nhất</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="weekly2-news-active dot-style d-flex dot-style"> 
                        <% itemsNews.forEach( item => { %>
                            <div class="weekly2-single">
                                <div class="weekly2-img">
                                    <img src="<%= folder_uploads + item.thumb %>" alt="">
                                </div>
                                <div class="weekly2-caption">
                                    <span class="color1"><a href="/tin-tuc/<%= item.category.slug %>"><%= item.category.name %></a></span>
                                    <p><i class="fa fa-clock"></i> <%= formatDate(item.created.time) %></p>
                                    <h4><a href="/tin-tuc/<%= item.slug %>-a"><%= item.name %></a></h4>
                                </div>
                            </div> 
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   
